version: '3'

services:
  node1:
    build: .
    hostname: node1
    environment:
      - NODE_NAME=node1
      - NODE_IP=node1
    volumes:
      - node1-zk:/data/zookeeper
      - node1-pg:/data/postgres
    ports:
      - "5432:5432"
      - "2181:2181"
      - "8008:8008"

  node2:
    build: .
    hostname: node2
    environment:
      - NODE_NAME=node2
      - NODE_IP=node2
    volumes:
      - node2-zk:/data/zookeeper
      - node2-pg:/data/postgres

  node3:
    build: .
    hostname: node3
    environment:
      - NODE_NAME=node3
      - NODE_IP=node3
    volumes:
      - node3-zk:/data/zookeeper
      - node3-pg:/data/postgres

volumes:
  node1-zk:
  node1-pg:
  node2-zk:
  node2-pg:
  node3-zk:
  node3-pg:
